{{define "arc"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>{{template "style"}}</style>
    <title>{{.Title}}</title>
</head>
<body>
    <section id="arc-text">
        <h1>{{.Title}}</h1>
        {{range $index, $textPart := .Text}}
        <p>{{$textPart}}</p>
        {{end}}
    </section>

    <section id="arc-options">
        {{if .Options}}
        <ul>
            {{range $index, $option := .Options}}
            <li><a href="{{$option.TargetArc}}">{{$option.Text}}</a></li>
            {{end}}
        </ul>
        {{else}}
        <h2>The End !</h2>
        {{end}}
    </section>
</body>
</html>
{{end}}